<h1 hightlight>
  {{title}}
</h1>
<hr>

<span>
 {{ today |  date:'fullDate' | uppercase }}
</span>
<hr>

<span>
 {{ today | date:format}}
</span>
<button (click)="toggleFormat()">Toggle Format</button>
<hr>

<span>Power Boost Calculator</span>
<div>Normal power: <input [(ngModel)]="power"></div>
<div>Boost factor: <input [(ngModel)]="factor"></div>
<p>
  Super Hero Power: {{power | exponentialStrength: factor}}
</p>
<hr>

<ul>
  <li *ngFor="let developer of developers">
    <span >{{developer.id}}</span> {{developer.name}}
  </li>
</ul>
<hr>

<developer-child [master]="master"> </developer-child>
<hr>

<button (click)="changeFirstValue()">Change firstValue</button>
<span *ngIf="firstValue">Hola Bootcamp</span> <br>
<span *ngIf="power < factor">power es menor a factor</span> <br>

<input [(ngModel)]="secondValue" />
<div class="container">
  <div *ngIf="secondValue == 'A'">A</div>
  <div *ngIf="secondValue == 'B'">B</div>
  <div *ngIf="secondValue != 'A' && secondValue != 'B'">C - Z</div>
</div>

<br>

<div class="container" [ngSwitch]="secondValue">
  <div *ngSwitchWhen="'A'">var is a</div>
  <div *ngSwitchWhen="'B'">var is b</div>
  <div *ngSwitchDefault>var is something else</div>
</div>

<br>

<h4 class="ui horizontal divider header">
  Current choice is {{ choice }}
</h4>

<div class="ui raised segment">
 <ul [ngSwitch]="choice">
   <li *ngSwitchWhen="1">First choice</li>
   <li *ngSwitchWhen="2">Second choice</li>
   <li *ngSwitchWhen="3">Third choice</li>
   <li *ngSwitchWhen="4">Fourth choice</li>
   <li *ngSwitchWhen="2">Second choice, again</li>
   <li *ngSwitchDefault>Default choice</li>
 </ul>
</div>

<div style="margin-top: 20px;">
 <button class="ui primary button" (click)="nextChoice()">
   Next choice
 </button>
</div>

<hr>

<div [style.background-color]="'yellow'">
  background yellow
</div>
<br>
<div [ngStyle]="{color:'white', 'background-color':'blue'}">
  texto blanco, fondo azul
</div>

<hr>

<div class="ui raised segment">
  <h2 class="ui header">Demo Form: Developer</h2>
  <form #f="ngForm"
    (ngSubmit)="onSubmit(f.value)"
      class="ui form">
      <div class="field">
        <label for="developerInput">Developer Name</label>
        <input type="text"
            id="developerInput"
            placeholder="Developer"
            name="developer" ngModel>
        <br>
        <label for="developerSkillInput">Developer principal Skill</label>
        <input type="text"
            id="developerSkillInput"
            placeholder="Developer principal Skill"
            name="developerSkill" ngModel>
      </div>
      <button type="submit" class="ui button">Submit</button>
    </form>
</div>
